In [1]:
# Standard python libraries
import os

# Essential DS libraries
import optuna
import requests
import numpy as np
import pandas as pd
from catboost import CatBoostRanker, Pool, MetricVisualizer, CatBoostRegressor
from copy import deepcopy

ModuleNotFoundError: No module named 'catboost.core'

In [ ]:
attr = pd.read_csv('attr.csv')
attr.head()

In [ ]:
train_df = pd.read_csv("train.csv")
# train_df['group'] = train_df['ego_id'].astype(str) + '_' + train_df['u'].astype(str)
# train_df['group'] = train_df.group.astype('category')
# train_df.group = train_df.group.cat.codes
train_df = pd.merge(train_df, attr, on=['ego_id','u'], how='left')
train_df[['city_id','sex','school','university']] = train_df[['city_id','sex','school','university']].fillna(-1)
train_df[['city_id','sex','school','university']] = train_df[['city_id','sex','school','university']].astype(np.int32)
train_df = train_df.sample(100_000)
train_df.head()

In [ ]:
test_df = pd.read_csv("test.csv")
# test_df['group'] = test_df['ego_id'].astype(str) + '_' + test_df['u'].astype(str)
# test_df['group'] = test_df.group.astype('category')
# test_df.group = test_df.group.cat.codes
test_df = pd.merge(test_df, attr, on=['ego_id','u'], how='left')
test_df[['city_id','sex','school','university']] = test_df[['city_id','sex','school','university']].fillna(-1)
test_df[['city_id','sex','school','university']] = test_df[['city_id','sex','school','university']].astype(np.int32)
test_df.head()

In [2]:
submission = pd.read_csv('submission.csv')
submission.head()

   ego_id  u    v        x1
0       8  0   93  0.000000
1       8  0  143  0.000000
2       8  0  151  1.606742
3       8  1   24  0.026496
4       8  5    4  0.159857

In [3]:
X_train = train_df[['v','t','x2','x3','age','city_id','school','university']]
y_train = train_df['x1']
# queries_train = train_df['group']

X_test = test_df.dropna(subset='x1')[['v','t','x2','x3','age','city_id','school','university']]
y_test = test_df.dropna(subset='x1')['x1']
# queries_test = test_df.dropna(subset='x1')['group']

NameError: name 'train_df' is not defined

In [4]:
train = Pool(
    data=X_train,
    label=y_train,
    cat_features=['v','city_id','school','university'],
)

test = Pool(
    data=X_test,
    label=y_test,
    cat_features=['v','city_id','school','university'],
)

NameError: name 'Pool' is not defined

In [5]:
model = CatBoostRegressor(depth=4,objective='Poisson', task_type="GPU")

model.fit(train, plot=True, eval_set=test, verbose=500)

NameError: name 'CatBoostRegressor' is not defined

In [6]:
sub = pd.merge(test_df, submission[['ego_id','u','v']], on=['ego_id','u','v']).drop_duplicates(subset=['ego_id','u','v']).fillna(-1)
sub[['v','city_id','school','university']] = sub[['v','city_id','school','university']].astype(np.int32)

NameError: name 'test_df' is not defined

In [7]:
sub

NameError: name 'sub' is not defined

In [8]:
sub['x1'] = model.predict(sub[['v','t','x2','x3','age','city_id','school','university']]).astype(float)

NameError: name 'model' is not defined

In [9]:
sub.sort_values(['ego_id','u','v']).to_csv('sub.csv', index=False, columns=['ego_id','u','v','x1'])

NameError: name 'sub' is not defined